/* Color palette */

$black: #000000;
$white: #ffffff;
$text-grey: #8c8c8c;
$main: #54da83;
$dots-grey: #d8d8d8;
$cards-grey: #e5e5e5;
$contact-grey: #e8e8e8;
$background-grey: #fafafa;
$cards-flair-red: #ff2000;
$cards-flair-yellow: #ff8f00;
$cards-flair-secondary-red: #d80000;
$cards-flair-secondary-yellow: #ffaa3d;
$popup-grey: #4a4a4a;
$social-border: #d2d2d2;
$pagination-grey: #d6d6d6;
$cards-li_false: #b0b0b0;
$label-grey: #b4b4b4;